:root{
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-lue: hsl(240, 18%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html{
    font-family: 'Inter', sans-serif;

    height: 100%;
}

body{
    font-size: 32px;

    background-color: #ffffff;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

#pattern-bg{
    position: absolute;

    right: -75px;
    

    height: auto;
    max-height: 85vh;

    z-index: -1;
}

#pattern-curve{
    position: absolute;

    left: 0;
    bottom: 0;

    z-index: -1;
}

#slider{
    width: auto;
    max-width: 1100px;
    height: auto;
    max-height: 70vh;
}

#slider .content{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1100px;

    position: relative;
    
}

#slider .content .text{
    width: auto;
    max-width: 20em;
    left: 3em;
    z-index: 1;
    position: absolute;
}

#slider .content .text img.quote{
    height: 85px;
    position: absolute;
    top: -55px;;
    left: 100px;
}

#slider .content .text p{
    font-weight: 300;
    color: var(--dark-blue);

    margin-bottom: 25px;
}

#slider .content .text span{
    font-size: 18px;
    font-weight: 400;

    color: var(--grayish-lue);
}

#slider .content .text span strong{
    color: var(--dark-blue);
}

#slider .content img.image{
    height: auto;
    max-height: 70vh;

    border-radius: 8px;

    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 0;

    object-fit: cover;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.slide-buttons{
    position: absolute;
    right: 310px;
    bottom: -240px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffffff;

    border-radius: 30px;

    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.1);

    z-index: 1;
}

.slide-buttons button{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background: none;
    border: none;

    width: 50px;
    height: 50px;

    margin: 0;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}