@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%); 
    --grayish-blue: hsl(246, 25%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--red);
}

*, button, input{
    border: 0;
    outline: 0;

    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

body{
    max-width: 1440px;

    font-size: 16px;
    color: #fcfffd;

    background: url('./images/bg-intro-desktop.png') var(--red);

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;

    padding: 0 100px;

    position: relative;
}

.text{
    max-width: 500px;

    padding: 10px;
}

.text h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;

    margin-bottom: 20px;
}

.sign-up{
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 540px;
}

.sign-up header{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 540px;
    height: 56px;

    background-color: var(--blue);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);

    font-weight: 400;

    color: #fcfffd;

    margin-bottom: 20px;
}

.sign-up header p span{
    font-weight: 600;
}

.sign-up form{
    width: 100%;

    background: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--grayish-blue);
    border-radius: 10px;

    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.2);

    padding: 40px;
}

.sign-up form label{
    display: none;
}

.field{
    width: 100%;
    height: 56px; 

    margin-bottom: 25px;
    
    align-items: center;

    position: relative;
}

.field img.icon-error{    
    position: absolute;
    right: 10px;
    top: 15px;

    opacity: 0;

    transition: all  0.8s;
}

.field img.icon-error.active{    
    opacity: 1;
}

.field span.error{
    display: flex;

    font-size: 10px;
    font-weight: 600;

    position: absolute;
    right: 0;

    margin-top: 3px;
}

.field span.error.active{
    color: var(--red);
}
 

.sign-up form input{
    width: 100%;
    height: 100%;

    border: 1px solid var(--grayish-blue);
    border-radius: 5px;

    padding: 0 30px;
    
    align-items: center;

    font-weight: 600;
    color: var(--dark-blue);

    transition: all .8s;
}

.sign-up form input:focus{
    border: 1px solid var(--dark-blue);
}

.sign-up form input.active{
    color: var(--red) !important;
    border: 1px solid var(--red) !important;
}
 

.sign-up form button{
    width: 100%;
    height: 56px;

    background-color: var(--green);

    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    color: #FFFFFF;

    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.12em;

    cursor: pointer;
}

.sign-up form button:hover{
    opacity: .8;
}

.sign-up form p{
    font-size: 12px;
    font-weight: 600;
    color: var(--grayish-blue);

    margin-top: 10px;
}

.sign-up form p a{
    font-weight: 700;
}

@media (max-width: 810px){
    body{
        background: url('./images/bg-intro-mobile.png') var(--red);
        flex-direction: column;

        padding: 20px;

        text-align: center;
    }

    .text{
        margin-top: 40px;
    }

    .text h1{
        font-size: 28px;
        line-height: 36px;
    }

    .sign-up header{
        padding: 20px;
        height: auto;

        margin-top: 50px;
        text-align: center;
    }

    .sign-up form{
        margin-bottom: 50px;
    }
}

@media (min-width: 1366px){
    body{
        padding: 0 165px;
    }
}

.attribution { 
    font-size: 11px;

    margin-top: 40px;
}

.attribution a { color: hsl(228, 45%, 44%); }